/**
 * Font Definitions
 */
 @use '../abstracts/variables';
 
/* General Sans Font */
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Atkinson Hyperlegible */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} 


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'General Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: clamp(2.5rem, 4.75vw, 4rem);
  line-height: 1.1;
  letter-spacing: -2%;
  margin-bottom: 1em;
}

h2{
 font-size: clamp(1.75rem, 3vw, 3rem);;
 letter-spacing: -6%;
}

h3{
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  letter-spacing: -4%;
}

h4{
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  letter-spacing: -4%;
  line-height: 1.3  ;
}

span,
li:not(.main-nav li),
p {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: clamp(1.125rem, 1.75vw, 1.5rem);
  letter-spacing: -2%;
  line-height: 1.8;
  margin-bottom: clamp(1rem, 1.75vw, 1.5rem);

  &.highlight {
    font-size: clamp(1.25rem, 1.75vw, 2rem);
    line-height: 1.6  ;
  }
  &.small {
    font-size: clamp(.875rem, 1.25vw, 1.25rem);
  }

  a {
    font-style: normal;

    &:not([href*="https://apedraza.net"])::after{
      content: "\f08e";
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      font-size: clamp(0.5rem, 1.25vw, .75rem);
      margin: 0 .125rem 0 .25rem;
    }
  }
}

.font-bold {
  font-weight: 900;
  font-size: inherit;
}

a {
  color: variables.$color-primary;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color: variables.$color-primary-hover;
    text-decoration: underline;
  }

  &:active, &:focus, &:visited {
    color: variables.$color-primary;
  }
}

li:not(.main-nav li) {
  margin-bottom: clamp(0.5rem, 1.25vw, .75rem);
}

/* Font Awesome 5 Pro */
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../fonts/Font Awesome 5 Pro-Light-300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Font Awesome 5 Brands */
@font-face {
  font-family: 'Font Awesome 6 Brands';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font Awesome icon classes */
.fa-solid {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.fa-regular {
  font-family: 'Font Awesome 6 Free';
  font-weight: 400;
}

.fa-brands {
  font-family: 'Font Awesome 6 Brands';
  font-weight: 400;
}

.fa-light {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.emoji {
  font-family: 'Noto Color Emoji';
  font-weight: 400;
}