/**
 * Mixins
 * Reusable style patterns
 */

 @use '../abstracts/variables';

// Media queries
@mixin mobile {
  @media (max-width: #{variables.$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{variables.$breakpoint-sm}) and (max-width: #{variables.$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{variables.$breakpoint-lg}) and (max-width: #{variables.$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{variables.$breakpoint-xl}) {
    @content;
  }
}

// Layout helpers
@mixin container {
  width: 100%;
  max-width: variables.$breakpoint-3xl;
}

@mixin button-fill {
  border: none;
  display: flex;
  color: variables.$color-text-on-prominent;
  font-style: normal;
  align-items: center;
  justify-content: center;
  padding: .5rem clamp(1rem, 1vw, 2rem);
  font-weight: 600;
  position: relative;
  background-color: variables.$color-primary-surface;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-outline {
  display: flex;
  color: variables.$color-text-on-prominent;
  font-style: normal;
  align-items: center;
  justify-content: center;
  padding: .5rem clamp(1rem, 1vw, 2rem);
  font-weight: 600;
  position: relative;
  background: transparent;
  border: 2px solid variables.$color-text-on-prominent;
  
  &:hover {
    text-decoration: none;
    border-color: variables.$color-text-body-accent-on-prominent;
    color: variables.$color-text-body-accent-on-prominent;
  }
}
