/**
 * Footer Component Styles
 */
 @use '../abstracts/variables';
 @use '../abstracts/mixins';

/* Base footer styles */
#site-footer {
  background-color: variables.$color-prominent-surface;
  box-shadow: 0px 4px 4px variables.$color-shadow;
  overflow: hidden;
  padding: variables.$spacing-2xl clamp(1.5rem, 1.5vw, 3.5rem) variables.$spacing-xl;
  color: variables.$color-text-on-prominent;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* Left column */
  .footer-left {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    flex: 1;
    flex-basis: 0%;
  }
  
  .footer-heading {
    width: 100%;
  }
  
  .footer-subheading {
    width: 100%;
    margin-top: variables.$spacing-sm;
    padding-bottom: variables.$spacing-lg;
  }
  
  .footer-links {
    display: flex;
    gap: variables.$spacing-lg;
    white-space: nowrap;
    flex-wrap: wrap;
    margin-top: variables.$spacing-sm;
  }
  
  .footer-link {
    text-decoration: none;
    color: variables.$color-text-on-prominent;
    transition: color variables.$transition-fast;

    & i:before{
      font-size: clamp(0.625rem, .75vw, .875rem);
    }
  }
  
  .footer-link-text {
    display: inline-block;
    padding: variables.$spacing-xs 0;
    position: relative;
    font-style: normal;
    text-decoration: underline;
    
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: width variables.$transition-normal;
    }
    
    &:hover{
      color: variables.$color-text-body-accent-on-prominent;
    }
  }
  
  /* Center logo */
  .footer-logo {
    width: 8rem;
    height: auto;
    align-self: center;
    margin: 0 variables.$spacing-xl;
    transition: transform variables.$transition-normal;

    &:hover{
      transform: scale(1.05);
    }
    
    @include mixins.mobile {
      order: -1;
      margin-bottom: variables.$spacing-xl;
    }
  }
  
  /* Right column */
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    flex-basis: 0%;
    min-width: 240px;
    height: 100%;
  }
  
  .footer-credits {
    text-align: right;
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: variables.$spacing-sm;
  }
  
  .footer-credits i {
    cursor: help;
    width: auto;
    display: inline;
    vertical-align: middle;
    margin: 0 2px;
    font-size: clamp(1.125rem, 1.75vw, 1.5rem);
  }
  
  .footer-copyright {
    margin-top: variables.$spacing-lg;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-sm;

    a{
      font-style: normal;
      color: variables.$color-text-on-prominent;
      text-decoration: underline;

      &:hover{
        color: variables.$color-text-body-accent-on-prominent;
      }
    }
  }
  
  /* Responsive adjustments */
  @include mixins.mobile {
    padding: variables.$spacing-xl variables.$spacing-base;
    flex-direction: column;
    align-items: center;
    
    .footer-left,
    .footer-center,
    .footer-right {
      width: 100%;
      text-align: center;
      align-items: center;
    }
    
    .footer-links{
      gap: variables.$spacing-lg;
      margin-top: 0;
      justify-content: center;
    }

    .footer-logo{
      width: clamp(4rem, 17vw, 8rem);
      margin: 2rem auto;
    }

    .footer-copyright {
      text-align: center;
      margin-top: variables.$spacing-xl;
    }
    
    .footer-credits{
      justify-content: center;
      gap: variables.$spacing-xs;
      font-size: clamp(0.875rem, 1.25vw, 1rem);
    }
  }

  @include mixins.tablet {  
    .footer-logo{
      width: clamp(6rem, 17vw, 8rem);
      margin: 0 1rem;
    }
    .footer-right{
      flex-direction: row;
      flex-basis: 100%;
    }
  } 
} 