@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../base/animations';

.case-study-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: clamp(4rem, 10vw, 6rem);

    .case-study-nav-title {
        font-style: normal;
        display: flex;
        gap: clamp(.5rem, 1vw, 1rem);
        align-items: center;

        & i.fa-solid {
            font-size: .875em;

            &:hover{
                text-decoration: none;
            }
        }
    }
    
    .case-study-nav-link:hover {
        text-decoration: none;

        & .case-study-nav-title > div{
            text-decoration: underline;
        }
    }

    .case-study-nav-link.next {
        text-align: right;
    }

    .next:hover i {
        animation: toRightFromLeft .2s forwards;
    }

    .prev:hover i {
        animation: toLeftFromRight .2s forwards;
    }

    
    @include mixins.mobile {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem
    }
}