<div class="flashcard-header">
       <h3 class="flashcard-title">Helping a finance team to speed-up</h3>
       <button class="flashcard-close" id="flashcard-close" data-label="Close">&times;</button>
     </div>
    
     <div class="problem-section">
       <h4>Problem addressed:</h4>
       <p>Increase productivity and reduce errors in the wholesale finance team.</p>
     </div>


     <div class="content-grid wholesale-billing">


       <div class="flashcard-section impact">
         <h4>Project impact:</h4>
         <span class="disclainer small">(This information is based on a year after launch)</span>
         <ul>
           <li><span class="font-bold">From +80k to +220k orders</span> managed by the same people</li>
           <li>Reports of <span class="font-bold">erroneous data heavily dropped</span></li>
           <li><span class="font-bold">Simplified and more intuitive process</span> for finance team</li>
         </ul>
       </div>


       <div class="flashcard-section afterlaunch">
         <h4>Missed opportunities:</h4>
         <ul>
           <li>Lack of bulk actions</li>
           <li>Direct access to orders' view</li>
           <li>Inline editing instead of modals</li>
           <li>Preselected filters</li>
         </ul>
       </div>
    
       <div class="flashcard-section methods">
         <h4>Applied methods:</h4>
         <ul>
           <li>User interviews</li>
           <li>Requirements gathering</li>
           <li>Persona definition</li>
           <li>Data modeling</li>
           <li>Flows definition</li>
         </ul>
       </div>


       <div class="flashcard-section methods2">
         <ul>
           <li>Wireframing</li>
           <li>Mock-ups creation</li>
           <li>Prototyping</li>
           <li>Usability testing</li>
           <li>Stakeholders management</li> 
         </ul>
       </div>
      
       <div class="flashcard-section team">
         <h4>Team members:</h4>
         <ul>
           <li>1 Product designer (me)</li>
           <li>1 UI developer (also me)</li>
           <li>1 Frontend engineer</li>
           <li>2 Backend engineers</li>
           <li>1 Product manager</li>
         </ul>
       </div>


     </div>
    
     <div class="flashcard-footer">
       <a href="/case-study/adamo-wholesale-billing" id="flashcard-read-more" class="read-more-link">
         <span>Read whole case study</span>
         <i class="fa-solid fa-arrow-right"></i>
       </a>
     </div>
