<div class="flashcard-header">
  <h2 class="flashcard-title">From UI toolkit to design system</h2>
  <button class="flashcard-close" id="flashcard-close">&times;</button>
</div>


<div class="content-grid design-system">
  <div class="flashcard-section constraints">
    <div class="problem-section">
      <h4>Problems addressed:</h4>
      <ul>
        <li class="highlight">There was a critical <span class="font-bold">lack of consistency</span> across the different sections of the platform.</li>
        <li class="highlight">Design work was sometimes producing <span class="font-bold">bottlenecks</span> in the delivery of features.</li>
      </ul>
    </div>
    <h4>Constraints:</h4>
    <ul>
      <li><span class="font-bold">No dedicated team</span> nor UI auditing project. Components gathering done ad hoc by designers.</li>
      <li><span class="font-bold">Several technologies in place</span> within the code: Bootstrap 3, Bootstrap 5, Ruby, AngularJS, React.</li>
    </ul>
  </div>

  <div class="flashcard-section agreements">
    <h4>Agreements:</h4>
    <ul>
      <li>Start from the existing UI toolkit based on <span class="font-bold">Bootstrap 5</span>.</li>
      <li>Only<span class="font-bold">primitive variables and base components</span> to be reused in the platform's code.</li>
      <li>Reutilisation of <span class="font-bold">bigger components</span> only within Design environment (<span class="font-bold">Figma</span>).</li>
      <li>Standardization of patterns <span class="font-bold">applied only to new implementations</span>.</li>
      <li>Admin pages out of scope.</li>
    </ul>
  </div>

  <div class="flashcard-section methods">
    <h4>Applied methods:</h4>
    <ul>
      <li>Heuristic evaluation</li>
      <li>Atomic design 2.0</li>
      <li>Primitive tokenization</li>
      <li>Font scaling</li>
      <li>8pt grid spacing</li>
      <li>Figma</li>
      <li>Functional documentation</li>
    </ul>
  </div>
 
  <div class="flashcard-section impact">
    <h4>Project impact:</h4>
    <ul>
      <li>High definition <span class="font-bold">proposals quicker than ever</span>.</li>
      <li><span class="font-bold">~70% of patterns</span> reproduced in Figma</li>
      <li><span class="font-bold">Templates to be reused</span> in future projects</li>
      <li>Clear <span class="font-bold">definition of usage</span> for several components</li>
    </ul>
  </div>

  <div class="flashcard-section team">
    <h4>Team members:</h4>
    <ul>
      <li>2 Product designer<br />
      (me and mid-level designer)</li>
      <li>4 Frontend engineers</li>
      <li>No dedicated team members</li>
    </ul>
  </div>
</div>

<div class="flashcard-footer">
  <a href="/case-study/devex-design-system" id="flashcard-read-more" class="read-more-link">
    <span>Read whole case study</span>
    <i class="fa-solid fa-arrow-right"></i>
  </a>
</div>