@use '../abstracts/variables';
@use '../abstracts/mixins';
.case-study {

  @include mixins.desktop-xl {
    margin-top: -2rem;
  }

  @include mixins.desktop {
    margin-top: -1rem;
  }

  h1 {
    margin-bottom: .5rem;
  }

  h2 {
    letter-spacing: -4%;
  }

  section {
    margin-bottom: clamp(2rem, 5vw, 4rem);
  }

  figure {
    margin:clamp(1rem, 2vw, 1.5rem) auto;
  }

  &__highlight-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 8px;
    background-color: variables.$color-border;
    border: 4px solid variables.$color-border;
    border-radius: clamp(4px, 3vw, 12px);

    &:not(:last-child) {
      margin-bottom: clamp(1.5rem, 4vw, 4rem);
    }

    &-header,
    &-content {
      padding: 1rem clamp(1rem, 2vw, 2rem);
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      button {
        background: none;
        border: none;
        cursor: pointer;
        
        i {
          font-size: 2rem;
          color: variables.$color-text-body;
          transition: transform 0.3s ease-in-out;
        }
      }

      h3, h4 {
        font-size: 1.5rem;

        .emoji {
          padding-left: 0.5rem;
        }
      }
    }

    &-content {
      display: none;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
      background-color: variables.$color-border;
      border-radius: clamp(2px, 3vw, 8px);

      p {
        font-size: 1rem;
        margin-bottom: .75rem;
      }
    }
    
    &:hover {
      background-color: variables.$color-subtitle;
      border-color: variables.$color-subtitle;
    }

    &.isOpen {
      padding-bottom: 8px;

      .case-study__highlight-section-content {
        display: block;
        opacity: 1;
        max-height: 2000px; // Adjust this value based on your content
      }

      .cs-highlight-expand i {
        transform: rotate(180deg);
      }
    }
  }
  
  

  .img__full-width {
    width: 90vw;
    max-width: variables.$breakpoint-3xl;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: clamp(1.5rem, 4vw, 3rem);
    margin-top: clamp(1rem, 2.5vw, 2rem);

    img, video {
      width: 90vw;
    }
    video {
      max-height: 80vh;
    }

    &:has(.case-study__landing-media) {
      margin-bottom: 0;
    }
  }

  .img__with-border {
    border: clamp(8px, 4vw, 16px) solid variables.$color-blue-800;
    border-radius: clamp(4px, 3vw, 12px);
  }

  &__landing .img__full-width {
    margin-bottom: 0.5rem;
  }

  .case-study__project-data {
    display: flex;
    margin: clamp(1.5rem, 3vw, 2.5rem) auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(1rem, 2vw, 2rem);

    @include mixins.tablet {
      padding: 0 clamp(.5rem, 1vw, 1rem);
    }
    @include mixins.tablet {
      padding: 0;
    }


    &-item {
      display: flex;
      flex-direction: column;
      gap: 0;

      &:last-child {
        flex-basis: auto;
      }

      @include mixins.mobile {
        flex-basis: auto;
      }
    }

    .subtitle {
      margin-bottom: 0;
      color: variables.$color-subtitle;
      text-transform: uppercase;
      font-family: variables.$font-family-heading;
      font-weight: 600;
    }
  }

  .case-study__card {
    display: flex;
    gap: clamp(1rem, 2.5vw, 2rem);
    margin-bottom: clamp(1.5rem, 3vw, 2.5rem);
    flex-wrap: wrap;
    align-items: center;

    &:first-child {
      margin-top: clamp(1.5rem, 3vw, 2.5rem);
    }
    
    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .cs-card__content,
    .cs-card__image {
      width: calc(50% - clamp(.5rem, 1.25vw, 1rem));
    
      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}

.design-process {

  &__overview {
    h4 {
      margin-top: clamp(1rem, 2vw, 1.5rem);
    }
  }
}

.job-posting {
}
