{%- set currentOrder = order -%}
{%- set allCaseStudies = collections.caseStudies | sort(false, 'order') -%}
{%- set currentIndex = allCaseStudies | findIndex("order", currentOrder) -%}

{%- set prevStudy = (currentIndex > 0) and allCaseStudies[currentIndex - 1] or null -%}
{%- set nextStudy = (currentIndex < (allCaseStudies | length - 1)) and allCaseStudies[currentIndex + 1] or null -%}

<div class="case-study-nav">
  <div class="case-study-link-wrapper">
  {%- if prevStudy -%}
    <a href="{{ prevStudy.url }}" class="case-study-nav-link prev">
      <h4 class="case-study-nav-title">
        <i class="fa-solid fa-arrow-left"></i>
        <div>{{ prevStudy.data.title }}</div>
      </h4>
    </a>
  {%- endif -%}
  </div>

  <div class="case-study-link-wrapper"></div>
  {%- if nextStudy -%}
    <a href="{{ nextStudy.url }}" class="case-study-nav-link next">
      <h4 class="case-study-nav-title">
        <div>{{ nextStudy.data.title }}</div>
        <i class="fa-solid fa-arrow-right"></i>
      </h4>
    </a>
  {%- endif -%}
  </div>
</div>
