<div id="cookie-consent-banner" class="cookie-banner" style="display: none;">
  <div class="cookie-content">
    <div class="cookie-message-container">
      <p class="cookie-title">Yes, I have cookies too! <span class="emoji">🍪</span></p>
      <p class="cookie-text">This website uses cookies to ensure you get the best experience. You can read all about it in my <a href="/privacy-policy">privacy policy</a> page.</p>
    </div>
    <div class="cookie-buttons">
      <button id="reject-analytics" class="button-outline">Reject analytics</button>
      <button id="accept-cookies" class="button-fill">Accept all</button>
    </div>
  </div>
</div> 