<!-- Footer Component -->
<footer id="site-footer">
  <div class="footer-wrapper">
    <div class="footer-left">
      <h3 class="footer-heading">Thank you for passing by!</h3>
      <p class="footer-subheading">For inquiries or just a chat, here's where to find me:</p>
      <div class="footer-links">
        <a href="mailto:hello@apedraza.net" class="footer-link">
          <span class="footer-link-text small">Email</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/adrianpedrazam/" class="footer-link small">
          <span class="footer-link-text small">LinkedIn</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <a href="https://www.behance.net/apedraza" class="footer-link">
          <span class="footer-link-text small">Bēhance</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <a href="https://github.com/apedrazam" class="footer-link">
          <span class="footer-link-text small">Github</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </div>
    
    <figure class="footer-center">
      <a href="/">
        <img src="/assets/images/apedraza-logo.svg" alt="APEDRAZA.NET" class="footer-logo">
      </a>
    </figure>

    <div class="footer-right">
      <div class="footer-credits">
        <span>Designed in</span>
        <i class="fa-brands fa-figma" title="Figma"></i>
        <span>, built with</span>
        <i class="fa-light fa-robot" title="Cursor and Lovable"></i>
        <span>, tweaked by </span>
        <i class="fa-light fa-hand" title="Me"></i>
        <span>.</span>
      </div>
      <div class="footer-copyright">
        <span>© 2025 Adrián Pedraza</span>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer> 