<!-- Sticky Header Component -->
<header id="sticky-header">
  <div class="container">
    <a href="/" class="logo-link">
      <img src="/assets/images/apedraza-logo.svg" alt="Adrian Pedraza Logo">
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="/#work">Work</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/assets/documents/Adrián Pedraza - CV 2025.pdf" target="_blank" rel="noopener">Resumé</a></li>
      </ul>
      <button id="theme-toggle" aria-label="Toggle dark mode">
        <i class="fa-solid fa-circle-half-stroke"></i>
      </button>
    </nav>
  </div>
</header>