---
layout: page-wrapper.njk
title: About - Adrian Pedraza
description: Learn more about Adrian Pedraza, Product Designer & UX Specialist
---

<article class="about-page">
  <div class="about-header">
    <h1>About Me</h1>
  </div>
  <div class="about-container">
    <section class="about-intro">   
      <div class="about-intro__text">
        <p>I design digital products that are clear, efficient, and user-friendly. With a front-end background and nearly a decade in product design, <span class="spinning-animation-trigger">I’m a generalist who wears many hats</span>.</p>
        <p>I thrive on solving complex problems and have a deep interest in high-level design and system definition, helping businesses meet their goals efficiently.</p>
        <p>Outside of work, I geek out over many things—including (but not limited to) board games, carpentry, and <strike>ultralight</strike> hiking.</p>
      </div>
      <div class="about-intro__image">
        <figure class="about-intro__image-wrapper" title="Find which Adri you need!">
          <img class="about-intro__image-me" src="/assets/images/about/well-round_generalist.webp" alt="Adrian Pedraza">
          <figcaption class="about-intro__image-caption">Adrián Pedraza</figcaption>
        </figure>
      </div>
    </section>
  </div>
</article>
