---
layout: page-wrapper.njk
title: About - Adrian Pedraza
description: Learn more about Adrian Pedraza, Product Designer & UX Specialist
---

<article class="about-page">
  <div class="about-header">
    <h1>About me</h1>
  </div>
  <div class="about-container">
    <section class="about-intro">   
      <div class="about-intro__text">
        <p>I design digital products that solve real-world problems. With a front-end background and nearly a decade in product design, <span class="spinning-animation-trigger">I’m a generalist who wears many hats</span>.</p>
        <div class="about-intro__image">
          <figure class="about-intro__image-wrapper" aria-hidden="true" title="Find out which Adri you need!">
            <img class="about-intro__image-me" src="/assets/images/about/well-round_generalist.webp" alt="Adrian Pedraza">
            <figcaption class="about-intro__image-caption">Adrián Pedraza</figcaption>
          </figure>
        </div>
        <p>I thrive on solving complex problems and have a deep interest in high-level design and system definition, helping businesses meet their goals efficiently.</p>
        <p>Outside of work, I geek out over many things—including (but not limited to) board games, <strike>ultralight</strike> hiking, and carpentry.</p>
      </div>
    </section>
    <section class="about-skills">
      <div class="about-skills__lists">
        <div class="about-skills__list expertise">
          <h3>Areas of expertise</h3>
          <ul class="about-skills__items">
            <li>Designing for impact & clarity</li>
            <li>Lean end-to-end design</li>
            <li>Aligning UX insights with business goals</li>
            <li>Scalable, systems-based design</li>
            <li>Reducing complexity in product workflows</li>
            <li>Communication & collaboration</li>
            <li ><span class="font-bold">And more...</span></li>
          </ul>
        </div>
        <div class="about-skills__list developing">
          <h3>Gaining proficiency in</h3>
          <ul class="about-skills__items">
            <li>Qualitative research</li>
            <li>AI design tools & vibe coding</li>
            <li>Service design</li>
            <li>Data visualization</li>
          </ul>
        </div>
        <div class="about-skills__list connect">
          <h3>Lets' connect!</h3>
          <ul class="about-skills__items">
            <li><a class="mail" href="mailto:hello@apedraza.net" target="_blank" rel="noopener noreferrer" title="Email"><i class="fa-solid fa-envelope"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/adrianpedrazam/" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a class="behance" href="https://www.behance.net/apedraza" target="_blank" rel="noopener noreferrer" title="Behance"><i class="fa-brands fa-behance"></i></a></li>
            <li><a class="github" href="https://github.com/apedrazam" target="_blank" rel="noopener noreferrer" title="Github"><i class="fa-brands fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</article>
