---
layout: page-wrapper.njk
title: About - Adrian Pedraza
description: Learn more about Adrian Pedraza, Product Designer & UX Specialist
---

<div class="about-container">
  <div class="about-header" style="text-align: center; width: 100%;">
    <h1>About Me</h1>
  </div>
  
  <div class="about-content" style="text-align: center; width: 100%;">
    <p class="highlight" >Under construction <span class="emoji">🚧</span></p>
  </div>
</div> 