---
layout: page-wrapper.njk
title: Devex Design Process - Adrian Pedraza
description: "Shaping the process of a product team through design leadership and cross-collaboration."
category: "Case Study"
order: 1
---

<article class="case-study">
  <section>
    <h1>Design Process at Devex</h1>
    <p class="subtitle">Reading time 4 minutes</p>
  </section>
  
  <section>
    <h2>Project Overview</h2>
    <p>Over the past three years at Devex, we have undergone a <strong>big transformation</strong> in the way we approach the <strong>design work</strong>.</p>
    <p>As the most senior designer, I have <strong>led many of these changes</strong> with the goal of improving communication and establishing an integrated process.</p>
  </section>
  
  <section>
    <h2>A look back to the starting point</h2>
    <p>When I joined Devex, I found myself as the most senior designer, taking on the responsibility of leading design decisions with little context. The main challenges were:</p> 
    <ul>
      <li>The Design team shifted from being involved in the product development to focusing purely on the design process, modifying the dynamics between designers and the rest of the team.</li>  
      <li>Business stakeholders were concerned about the velocity of the Product Team.</li>    
      <li>While there was some documentation on previous UX work, there was no defined design process.</li>
    </ul>
    <p>On top of that there was business as usual and all the projects that required design work so they didn't become a bottleneck for the rest of the team.</p>
  </section>
  
  <section>
    <h2>Redefining design scope and process</h2>
    <p>Since the designers were no longer in charge of implementing the UI, the way the work was shared between designers and developers, mostly with frontend engineers, needed to be redefined.</p>
    <p>Even though most of the components behaviour was already clear due to the internal UI Toolkit, I realised that the regular refinement meetings often got derailed discussing the high level details of the proposed designs. This resulted in other tasks not being refined.</p>
    <p>To solve this, I proposed and started leading <strong><em>Design Critique</em> sessions</strong> to create a specific space for gathering feedback and share the rationale behind the designs created, without interrupting other established ceremonies.</p>
    <figure>
      <img decoding="async" width="2048" height="904" src="/assets/images/case-studies/devex-design-process/Captura de pantalla 2024-12-23 a las 1.28.52.png" alt="Design Critique">
      <figcaption>Design Critique session on going</figcaption>
    </figure>
    <p>The new hirings I was part of were done with the idea of shifting the culture into a <strong>more user-centric approach</strong>, bringing design closer to business and the rest of stakeholders.</p>
    <p>To kickstart this <strong>cultural shift</strong> and establish some <strong>understanding of the design process</strong>, I created a document including a series of flows. These flows would propose deliverables, touch-points and actors involved in the different stages of the design process.</p>
    <p>These stages weren't meant to be followed to the detail, but they set a standard and specified some loops of work in which internal stakeholders would know what came next. Also they <strong>improved the general communication with the stakeholders</strong> and raised visibility of the design work.</p>  
    <figure class="img__full-width">
      <img decoding="async" width="1800" height="424" src="/assets/images/case-studies/devex-design-process/flow-proposal.png" alt="Design Process proposal">
      <figcaption>Design Process proposal</figcaption>
    </figure>
  </section> 
  
  <section>
    <h2>Increasing the velocity</h2>
    <p>Product team velocity was a concern and project scopes were usually quite big mostly due to technical restrictions. To address this issue, I started <strong>breaking projects into <em>Iterations</em></strong>, explaining them during the <em>Design Critiques</em> and structuring the sessions around their feasibility.</p>
    <p>Working like this improved the speed but in some cases the agreed iterations still implied a lot of work and the resulting work process felt too waterfall-like. We needed to find a more practical way.</p>
    <p>I began listing all the proposed <strong>changes as <em>actionable items</em></strong>. This allowed us to share them with business stakeholders, define <strong>priorities based on <em>impact vs. effort assessments</em></strong> and structure iterations in a much leaner way.</p>  
    <p>At this point, all the information was available in a single Figma file. With a lot of help and support from one of our POs, we started <strong>gathering feedback earlier and asynchronously</strong>. Resulting in a time-efficient and effective way of communicating.</p>
    <figure class="img__full-width">
      <img decoding="async" width="1800" height="424" src="/assets/images/case-studies/devex-design-process/iterative-proposals.png" alt="Iterative proposals">
      <figcaption>Iterative proposals</figcaption>
    </figure>
  </section>
  
  <section>
    <h2>Documenting the work</h2>
    <p>Design work includes many documents of very different nature: mock-ups, prototypes, slideshows, flows, matrices, heatmaps, surveys… As parts of the efforts for establishing a design process within Devex, we have worked in how we document and manage design assets.</p>
    <p>Previously most design UI assets were exported as images and stored in Google Drive as folders pertaining to each different project and organised by dates and author. That made it quite hard to know whether some designs or resarches were already available. We took the initiative of making <strong>Figma our only source of truth</strong>:</p>
    <p>It is not only the reference point to all the information regarding mock-ups allowing us to easily isolate the different proposals, but also where we link our research documents or where we gather most of the initial feedback , as well as discussions related to specific jira tasks later in the development process.</p>
    <p>With all this in mind, I tried to come up with a <strong>structure for our Figma documents</strong>. Unsurprisingly, it has evolved with the time to better accommodate our needs or adapting to the nature of each project, and the improvements we keep adding to our process.</p>
    <figure>
      <img loading="lazy" decoding="async" width="885" height="584" src="/assets/images/case-studies/devex-design-process/file-structure.png" alt="">
    </figure>
  </section>
  
  <section>
    <h2>Conclusions</h2>
    <p>Through this process we have achieved several outcomes:</p>
    <ul>
      <li>While there are still areas for improvement in communication, the <strong>understanding of design work</strong> has notably <strong>improved</strong>.</li>
      <li>By working on actionable items and setting iterations, we have been able to achieve <strong>more consistent delivery</strong>.</li>
      <li>Design <strong>feedback</strong> now happens organically and <strong>asynchronously, improving efficiency</strong>.</li>
      <li>All <strong>design assets are centralized</strong> within the <strong>Figma</strong> team project and organised according to our platform structure.</li>
      <li>Overall and in alignment with the work done in the <a href="https://apedraza.net/case-study/devex-design-system/" data-type="link" data-id="https://apedraza.net/case-study/devex-design-system/">internal Design System</a>, the <strong>delivery speed</strong> of the design team has <strong>increased drastically</strong>.</li>
    </ul>
    <p>While we have walked a long distance from where we started, the work is far from done. I'm glad of the improvements and grateful for all the people involved in the evolution of this process.</p>
  </section>
</article>

{% include "components/case-study-nav.njk" %}