---
layout: page-wrapper.njk
title: Devex Job Posting Flow - Adrian Pedraza
description: "Redesigning the job posting experience to improve user engagement and conversion rates."
category: "Case Study"
order: 2
---

<article class="case-study job-posting">
  <section class="case-study__landing">
    <h1>Revamping a job posting flow</h1>
    <div class="case-study__project-data">
      <div class="case-study__project-data-item">
        <p class="subtitle">Company</p>
        <p>Devex</p>
      </div>
      <div class="case-study__project-data-item">
        <p class="subtitle">Role</p>
        <p>Product Designer</p>
      </div>
      <div class="case-study__project-data-item">
        <p class="subtitle">Duration</p>
        <p>Q2 & Q3 2024</p>
      </div>
    </div>
    <figure class="img__full-width">
      <img 
        src="/assets/images/case-studies/devex-job-posting/thumbnail-job-posting.webp" 
        alt="Phone mockup for job posting flow" 
        class="job-posting__phone-mockup"
      />
    </figure>
  </section>
  
  <section class="job-posting__overview">
    
    <div class="job-posting__overview-content">
      <h2>Project Overview</h2>
      <p>Devex job posting services had faced a significant decrease in the number of job postings during the last couple of years. My task was to redesign the job posting flow to reduce drop-offs and increase engagement. While this project never got to total fruition, initial results were promising:</p>
      <ul>
        <li>The <span class="font-bold">engagement</span> within the job posting form <span class="font-bold">increased by 28%</span> in the first 50 days after release.</li>
        <li>The number of <span class="font-bold">users starting the job posting process</span> from the updated marketing page <span class="font-bold">increased by 6%</span>.</li>
        <li>Job bundle inquiries <span class="font-bold">tripled</span> during the first month.</li>
      </ul>
    </div>

    <figure class="img__full-width">
      <img decoding="async" src="/assets/images/case-studies/devex-job-posting/desktop-job-posting.webp" alt="Desktop version for job posting form">
      <figcaption>Desktop version for job posting form</figcaption>
    </figure>
  </section>
  
  <section>
    <h2>Starting Point</h2>
    <p>The job posting flow had seen a significant decrease in activity over the last couple of years. The main issues we identified were:</p>
    <ul>
      <li><span class="font-bold">Outdated marketing page</span>: The page wasn't effectively communicating the value of posting a job on Devex.</li>
      <li><span class="font-bold">A long, intimidating job posting form</span>: The form was a single page with too many fields, which led to high drop-offs.</li>
      <li><span class="font-bold">Poor error prevention and technical bugs</span>: The form was prone to errors, and users frequently had to refill information.</li>
    </ul>
  </section>

  <section>
    <h2>Research and prioritization</h2>
    <p>We kicked things off by digging into <span class="font-bold">usage data and benchmarking competitors</span> to spot the biggest problem areas. Since we already knew our two main user types, we reached them through a <span class="font-bold">survey to learn more</span> about the issues they were facing when posting jobs at Devex.</p>
    <p>The next step was getting everyone aligned on what success looked like—<span class="font-bold">boosting revenue</span> and making the <span class="font-bold">value of featured jobs</span> more obvious. To keep things focused, I set up a <span class="font-bold">MoSCoW prioritization</span>, mapped out a <span class="font-bold">Risk vs. Effort matrix</span> with the team, and brought the plan to business. Once we had the green light, we got to work.</p>

    <figure>
      <img decoding="async" src="/assets/images/case-studies/devex-job-posting/moscow-trello.webp" alt="Moscow prioritizationTrello board">
      <figcaption>Moscow prioritizationTrello board</figcaption>
    </figure>
    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
        <h3>Doubts around featured jobs value proposition <span class="emoji">💬</span> </h3>
        <button class="cs-highlight-expand" data-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>While we agreed on the main goal being revenue increase, I was hesitant about the business's request to highlight the value of featured job postings.</p>
        <p>Job posting in Devex was already one of the most expensive amongst its competitors and the decrease was more notable for users who didn't have a recruiter account and whose average number of jobs posted per user was quite low. That didn't make sense to me, so I proposed to focus on engagement rather than direct revenue, since the numbers in other business lines were performing well.</p>
        <p>From my perspective, asking those users to pay more rather than investing in increasing engagement for those users, seemed like a strategy that could backfire. Still, business was confident about the value proposition, so we went ahead with the initiative.</p>
      </div>
    </div>
  </section>

  <section>
    <h2>Designing the new job posting flow</h2>
    <p>During the planification discussions, we agreed on <span class="font-bold">prioritizing migrating tasks</span> because although probably not the most impactful, those were the ones that enabled us to keep moving forward while <span class="font-bold">reducing the technical debt</span> and <span class="font-bold">applying</span> patterns from the <span class="font-bold">design system</span>. We completed the following initiatives:</p>

    <h3>Review communications</h3>
    <p>We noticed there were a lot of <span class="font-bold">unknowns</span> around what interactions were part of the job posting flow <span class="font-bold">out of the Devex website</span>. I teamed-up with the PO, Marketing manager and the VP of Product to map those up and <span class="font-bold">define</span> a new version of <span class="font-bold">mailing milestones</span> through the funnel.</p>

    <figure class="img__full-width">
      <img decoding="async" class="img__with-border" src="/assets/images/case-studies/devex-job-posting/mailings-job-posting.webp" alt="Mailing funnel review">
      <figcaption>Reviewed email communications</figcaption>
    </figure>
    
    <h3>Redesigning the marketing page</h3>
    <p>The <span class="font-bold">first step</span> was overhauling the <span class="font-bold">marketing page</span>, which was outdated and not conveying the right message. I proposed this as the first step for 3 main reasons:</p>
    <ol>
      <li>Being mostly <span class="font-bold">static content</span>, it was a simpler and isolated change.</li>
      <li>The <span class="font-bold">higher in the funnel</span> you make a change, the more people it will reach: This was the first step of the process for non-recruiter job posters.</li>
      <li>This could be addressed while the most critical bugs of the posting form were fixed.</li>
    </ol>
    <p>I focused on <span class="font-bold">simplifying the design</span>, making the value proposition clearer, and we gave more relevance to the <span class="font-bold">feature jobs</span>, as per business request. This redesign led to a <span class="font-bold">6% increase</span> in users who started the job posting process, indicating that the updated page was more engaging and <span class="font-bold">tripled</span> the number of <span class="font-bold">job bundle inquiries</span>.</p>
    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
      <h4>CTA location rationale <span class="emoji">💬</span></h4>
        <button class="cs-highlight-expand" data-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>For comparing available options of job posting, the card approach is a good way to showcase them. However, it is quite standard that "pricing" cards get displayed with a CTA within. Having a separate button for it is likely to create confusion. I decided to have the main action separated from the cards, since our payment pages didn't allow for item preselection. This decision was made with the idea of moving it into the cards at some point in the future, after working in the payment component.</p>
      </div>
    </div>
    
    <figure class="img__full-width">
      <img decoding="async" src="/assets/images/case-studies/devex-job-posting/posting-options.webp" alt="Old vs New Marketing Page">
      <figcaption>Comparative view of the old and new marketing page</figcaption>
    </figure>

    <h3>Breaking down the job form</h3>
    <p>The <span class="font-bold">single-page job form</span> was intimidating, so we <span class="font-bold">split it</span> into smaller, more digestible steps. I proposed <span class="font-bold">several iterations</span> to move from the existing flow to the new one. Since the <span class="font-bold">migration</span> was a big effort and it was already <span class="font-bold">on the roadmap</span>, we jumped directly into the <span class="font-bold">third iteration</span> but without detaching the organization info as a conditional step.</p>
    <p>All the changes were proposed as part of an iterative process. By doing these changes, users would go through the posting form with <span class="font-bold">less cognitive load and more control</span> (jobs are now saved as draft after each step). But there are also <span class="font-bold">counterparts</span>: right now and until a new editing page is created, the process of <span class="font-bold">editing a job</span> is likely to be <span class="font-bold">more painful</span> than it was. Anyhow, the new structure proved easier to navigate and drove a <span class="font-bold">28% increase</span> in form engagement.</p>
    
    <figure class="img__full-width">
      <img class="img__with-border" decoding="async" src="/assets/images/case-studies/devex-job-posting/job-posting-flows.webp" alt="Job Posting Flow proposals">
      <figcaption>Proposed iterative job posting flow</figcaption>
    </figure>

    <h3>Pending actions and external factors</h3>
    <p>It's worth noting that a big part of our recruiter accounts were held by <span class="font-bold">USAID contractors</span>. This group played a significant role in the success of the job posting flow, and up until the <span class="font-bold">freeze</span> ordered by the Trump administration in February 2025, we were recording the <span class="font-bold">best engagement numbers in 6 months</span>.</p>
    <p>These had been the starting steps towards a more engaging job posting flow. However, they were likely not enough to solve the main problem. We had anecdotal evidence of <span class="font-bold">some fields not having the required values</span> recruiters were looking for, or some other missing information (such as language or skills).</p>
    <p>In my opinion, these changes put together would have a <span class="font-bold">more effective impact</span> on keeping job posting users engaged with Devex, but they had <span class="font-bold">ramifications into other products</span> of the platform. Because of that, they were not part of these first initiatives.</p>
    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
        <h4>The multi-product trap <span class="emoji">💬</span></h4>
        <button class="cs-highlight-expand" data-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>There were many different products living together within the Devex platform, but those were usually not connected between them. To me, that was a lost opportunity to create more engaging experiences for all user personas at Devex.</p>
        <p>I understand the technical risks of having partial content from many places in each product, but by cross-referencing those data points, we could have created more relevant content for the users and increased engagement.</p>
      </div>
    </div>


    <figure class="img__full-width">
      <img decoding="async" src="/assets/images/case-studies/devex-job-posting/mobile-job-posting.webp" alt="Mobile version for job posting form">
      <figcaption>Final mock-ups for mobile version</figcaption>
    </figure>
  </section>
</article>


{% include "components/case-study-nav.njk" %}