---
layout: page-wrapper.njk
title: Devex Design Process - Adrian Pedraza
description: "Shaping the process of a product team through design leadership and cross-collaboration."
category: "Case Study"
order: 1
---

<article class="case-study design-process">
  <section class="case-study__landing">
    <h1>Design Process at Devex</h1>
    <div class="case-study__project-data">
      <div class="case-study__project-data-item">
        <p class="subtitle">Company</p>
        <p>Devex</p>
      </div>
      <div class="case-study__project-data-item">
        <p class="subtitle">Role</p>
        <p>Product Designer</p>
      </div>
      <div class="case-study__project-data-item">
        <p class="subtitle">Duration</p>
        <p>2022 - 2025</p>
      </div>
    </div>
    
    <figure class="img__full-width">
      {% video "/assets/videos/design-process.webm", "Laptop mockup for Devex Design Process", "", "case-study__landing-media", { autoplay: true, loop: true, muted: true, playsinline: true } %}
    </figure>
  </section>
  
  <section class="design-process__overview">
    <h2>Project Overview</h2>
    <p>Over the 3 years I worked at Devex, we transformed how the product team approached design. As the most senior designer in the team and without a clear work structure, I led a set of changes that would enable a series of improvements:</p>
    <ul>
      <li>More consistent delivery through <span class="font-bold">actionable items and iterations</span>.</li>
      <li>Faster feedback loops with <span class="font-bold">asynchronous collaboration</span>.</li>    
      <li><span class="font-bold">Centralized assets</span> in Figma, improving visibility and accessibility.</li>
      <li>Increased <span class="font-bold">design consistency</span> with an internal <a href="https://apedraza.net/case-study/devex-design-system">Design System</a>.</li>
      <li><span class="font-bold">Better communication</span> and understanding of design work.</li>
    </ul>
  </section>
  
  <section>
    <h2>Starting point</h2>
    <p>Before I joined, there had been a series of conversations within the company proposing to start taking steps towards a <span class="font-bold">higher level of design maturity</span>. The <span class="font-bold">new hirings</span> I was part of were done with the idea of shifting the culture into a <span class="font-bold">more user-centric approach</span>, bringing design closer to business and the rest of stakeholders.</p>
    <p>Some of the <span class="font-bold">issues we identified</span> were:</p>
    <ul>
      <li>Design was embedded in the development process and handled the implementation: This caused <span class="font-bold">frictions and bottlenecks</span>.</li>
      <li><span class="font-bold">Research was sporadic</span> and many <span class="font-bold">projects lacked proper discovery and ideation</span> stages: Design work at Devex was too busy with creating and developing requested proposals that they didn't have time for research.</li>
      <li>Business insights were coming from just 2 stakeholders: This <span class="font-bold">left out other relevant voices</span>.</li>
      <li><span class="font-bold">No centralized documentation</span>: Knowledge was scattered and we had no way to know whether existing documentation or proposals were being followed, making it virtually useless.</li>
      <li>Design <span class="font-bold">consistency was lacking</span> across the product: by <span class="font-bold">working in silos</span>, design elements ended up not aligned nor reused across the product.</li>
    </ul>
    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
        <h3>Collaboration in the product team <span class="emoji">💬</span> </h3>
        <button class="cs-highlight-expand" aria-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>Devex's design culture had a tendency to design by committee, and friction between design and development was not uncommon. While the culture gradually shifted, these issues never fully disappeared. The product team was always open to feedback, with design receiving more input than other disciplines. To manage this, I focused on listening, explaining decisions, and ensuring clarity on final calls, always feeling supported by my peers and managers.</p>
      </div>
    </div>
  </section>

  <section>
    <h2>Achieving change</h2>
    <p>The first months were spent getting to know the team and the product and working on projects following the old process, which helped me understand the state of the design process. After that, I started working on some of the initiatives I had in mind to address the more relevant pain points.</p>

    <h3>Increasing the velocity</h3>
    <p>Product team velocity was a challenge, with large project scopes slowing things down. To tackle this, I started breaking <span class="font-bold">projects into iterations</span>, structuring Design Critiques around feasibility. While this helped, some iterations still felt too heavy, so I <span class="font-bold">shifted to actionable items</span>, making it easier to prioritize based on impact vs. effort. I teamed up with our PO to leverage <span class="font-bold">asynchronous feedback</span> and streamlined communication, making the process even more efficient.</p>
    <figure class="img__full-width">
      {% image "/assets/img/case-studies/devex-design-process/iterative-proposals.webp", "Iterative proposals", "", "img__with-border" %}
      <figcaption>Iterative proposals</figcaption>
    </figure>
    
    <h3>Explaining design work</h3>
    <p>With designers no longer handling UI implementation, we needed to <span class="font-bold">redefine how design work was shared with developers</span> while also improving visibility for business stakeholders. <span class="font-bold">Design Critique sessions</span> provided a structured <span class="font-bold">space for feedback</span>, keeping refinement meetings focused and ensuring alignment with the development team.</p>
    <figure class="img__full-width">
      {% image "/assets/img/case-studies/devex-design-process/design-critique.webp", "Design Critique", "" %}
      <figcaption>Design Critique session on going</figcaption>
    </figure>
    <p>At the same time, I introduced <span class="font-bold">process flows</span> to clarify deliverables, touchpoints, and stakeholder involvement, <span class="font-bold">setting clear expectations</span> for business teams. These flows weren't rigid rules but served as a shared framework, <span class="font-bold">making the design process more transparent</span> and improving communication across teams.</p>

    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
        <h4>Adoption of the design process <span class="emoji">💬</span> </h4>
        <button class="cs-highlight-expand" aria-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>The design process was meant to set expectations, not enforce rigid rules. Some steps, like the Project Agreement, were rarely used due to shifting priorities. It structure also evolved to a recursive model from the ideation and delivery phases once we moved into actionable items. In any case, the adoption of a design process improved alignment with other stakeholders and follow-ups on design work.</p>
      </div>
    </div>

    <h3>Centralizing assets</h3>
    <p>We established <span class="font-bold">Figma as our single source of truth</span>, replacing the messy system of scattered Google Drive folders. Everything—from mock-ups and prototypes to research and feedback was either <span class="font-bold">built in or linked to</span> a single Figma file. To keep things in order, I proposed a <span class="font-bold">file structure</span> that would make it easier to track proposals, iterate on them and collaborate. The structure evolved naturally over time, adapting to our needs as we kept refining the process. With help from our PO, we made <span class="font-bold">Figma comments</span> the de-facto way of <span class="font-bold">giving feedback</span> within the product team.</p>

    <figure>
      {% image "/assets/img/case-studies/devex-design-process/file-structure.webp", "File structure comparison", "" %}
      <figcaption>On the left, early file structure. On the right, the one of the latest iterations.</figcaption>
    </figure>

    <h3>More data means better decisions</h3>
    <p>During my first meeting with the VP of Product, I highlighted how <span class="font-bold">most design projects lacked dedicated time for research and ideation</span>. To address this, we began <span class="font-bold">incorporating usage data</span> at the start of every project, providing tangible evidence of design impact. Business priorities sometimes overran research, but we made sure to back every decision with actual data. We also started <span class="font-bold">tracking performance after launches</span> and made <span class="font-bold">A/B testing</span> a go-to for smaller projects.</p>
    <div class="case-study__highlight-section">
      <div class="case-study__highlight-section-header">
        <h4>The qualitative gap <span class="emoji">💬</span> </h4>
        <button class="cs-highlight-expand" aria-label="Expand"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="case-study__highlight-section-content">
        <p>When I joined Devex, the go-to source for qualitative data was a limited Hotjar membership that barely covered enough traffic to offer meaningful insights. I took the lead in researching better alternatives, focusing on tools that would allow us to properly set up funnels and access heatmaps and session recordings. We ultimately switched to Microsoft Clarity, which provided more useful insights in these areas.</p>
        <p>We also conducted punctual user interviews, joined onboarding sessions, and worked closely with the support team, which was an invaluable source of qualitative data. Still, the gap remained. Despite our efforts and repeated requests for resources, a proper qualitative research strategy was never put in place.</p>
      </div>
    </div>


    <h3>Making Devex look like Devex</h3>
    <p>Even with a UI toolkit in place, without alignment, design varied between features. To fix this, we established a <span class="font-bold">periodical catch-up and pairing sessions</span> between designers. These gave us alignment to take decisions as a team instead of individuals. From there, we started working on scaling the <a href="https://apedraza.net/case-study/devex-design-system"><span class="font-bold">UI toolkit to a Design System</span></a>. This not only improved efficiency but also made the product more cohesive, laying the foundations of a future redesign.</p>
  </section>
</article>

{% include "components/case-study-nav.njk" %}