---
layout: base.njk
---

<!-- Top background SVG -->
<figure class="bg-block-container">
  <img src="/assets/images/top-bg-block2.svg" class="top-bg-block" alt=""/>
</figure>
<div class="page-content-wrapper">
  {{ content | safe }}
</div>

<!-- Page Template System -->
<script src="/assets/js/page-template.js" defer></script>