---
layout: base.njk
---

<!-- Top background SVG -->
<figure class="top-bg-block-container">
  <img src="/assets/images/top-bg-block2.svg" class="top-bg-block" alt=""/>
  <img src="/assets/images/top-bg-block.svg" class="top-bg-block-mobile" alt=""/>
</figure>
<div class="page-content-wrapper">
  {{ content | safe }}
</div>

<!-- Page Template System -->
<script src="/assets/js/page-template.js" defer></script>

{% if category == "Case Study" %}
  {% include "components/case-study-accordion.njk" %}
{% endif %}