---
layout: base.njk
---

<!-- Top background SVG -->
<figure class="top-bg-block-container">
  {% image "/assets/img/top-bg-block2.svg", "", "", "top-bg-block" %}
  {% image "/assets/img/top-bg-block.svg", "", "", "top-bg-block-mobile" %}
</figure>
<div class="page-content-wrapper">
  {{ content | safe }}
</div>

<!-- Page Template System -->
<script src="/assets/js/page-template.js" defer></script>

{% if category == "Case Study" %}
  {% include "components/case-study-accordion.njk" %}
{% endif %}